@import "tailwindcss";
@layer theme, base, clerk, components, utilities;

:root {
  --background: #ffffff;
  --foreground: #37352f;
  --primary: #37352f; /* notion uses dark gray for buttons */
  --primary-hover: #2f2e2a;
  --border-radius: 0.375rem;
  --input-border: #e9e9e7;
  --input-focus: #37352f;
  --button-color: #fff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #191919;
    --foreground: #e9e9e7;
    --primary: #e9e9e7;
    --primary-hover: #d1d1ce;
    --input-border: #2f2f2f;
    --input-focus: #e9e9e7;
    --button-color: #191919;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
