@import "tailwindcss";
@layer theme, base, clerk, components, utilities;

:root {
  --background: #fafafa;
  --foreground: #171717;
  --primary: #404040;
  --primary-hover: #262626;
  --secondary: #737373;
  --accent: #059669;
  --success: #10b981;
  --border-radius: 0.5rem;
  --input-border: #e5e5e5;
  --input-focus: #059669;
  --button-color: #fff;
  --card-bg: #ffffff;
  --active-task: #f0fdf4;
  --completed-task: #f3f4f6;
  --shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  --border: #e5e5e5;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #525252;
    --primary-hover: #737373;
    --secondary: #a3a3a3;
    --accent: #10b981;
    --success: #059669;
    --input-border: #262626;
    --input-focus: #10b981;
    --button-color: #0a0a0a;
    --card-bg: #171717;
    --active-task: #064e3b;
    --completed-task: #262626;
    --shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    --border: #262626;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
